:root {
    --Midnight-Black: #1B1B1B;
    --Crimson-Red: #E50914;
    --Silver-Gray: #C0C0C0;
}

*{
    padding: 0;
    margin: 0;
}


.topnav {
   display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: var(--Midnight-Black);
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 4px;
  text-decoration: none;
  font-size: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Innerhåller allt */

.topMovieCarusel {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
   background-color: var(--Midnight-Black);
   color: white;
}

/* Innehåler varje film bild, titel osv */

.movie-list {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: transform 0.5 ease;
  flex-wrap: nowrap;
  
}

/* För varje film */

.movie-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  
}

.movie-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-item img:hover {
  transform: scale(1.1);
}

.movie-item h1 {
  color: white;
  width: 150px;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
  
}

#carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 20px; /* space between items */
}

.buttonStyle{
  width: 50px;
  height: 50px;
  background-color: var(--Silver-Gray);
  border-radius: 50%;
  margin: auto;
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}